@use "../../styles/base.scss" as *;

body{
    @include bodyStyle;
}

.h-loader{
    @include loader;
}

// signup container
.signup{
    margin-top: 20px;

    // navbar
    .signup_nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav_logo{
            display: flex;
            align-items: center;
            font-family: $font-family;
            font-size: 1rem;
            font-weight: 600;
            color: #ffffff;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            img{
                width: 40px;
                margin-right: 10px;
            }

            &:hover{
                color: $color;
                transform: scale(1.04);
            }

            @media screen and (max-width: 485px) {
                font-size: 0.7rem;
            }
        }

        .button-div{

            .nav_btn{
                @include blackButton;
    
                @media screen and (max-width: 485px) {
                    font-size: 0.7rem;
                    padding: 10px 20px;
                }
            }
        }

        .nav_btn:first-child{
            margin-right: 20px;
        }

        @media screen and (max-width: 485px) {
            .nav_btn{
                font-size: 0.7rem;
                padding: 10px 20px;
            }

            .nav_btn:first-child{
                margin-right: 10px;
            }
        }

        @media screen and (max-width: 355px) {
            .button-div{
                display: flex;
                flex-direction: column;
            }

            .nav_btn{
                margin-bottom: 10px;
            }
        }
    }

    // form
    .signup_form{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        .form_left{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img{
                width: 400px;
            }

            h2{
                @include heading1(1.8rem);
                width: 70%;
                margin-bottom: 25px;
            }

            .form_l_btn{
                @include blackButton;
                margin-bottom: 20px;
            }
        }

        .form_right{
            width: 50%;

            h2{
                @include heading1(2.5rem);
                margin-bottom: 5px;
            }

            p{
                @include paragraph(1rem);
                margin-bottom: 30px;
            }

            .form_control{
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                .form_input{
                    margin-bottom: 20px;

                    label{
                        font-family: $font-family;
                        font-size: 1.2rem;
                        font-weight: 500;
                        color: #3b87ce;
                    }

                    input{
                        font-family: $font-family;
                        font-size: 1.2rem;
                        font-weight: 500;
                        background: linear-gradient(125.7deg,hsla(0,0%,100%,.15) 25.43%,hsla(0,0%,100%,.05) 74.38%);
                        backdrop-filter: blur(20px);
                        color: #ffffff;
                        border-radius: 10px;
                    }

                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    input[type=number] {
                        -moz-appearance: textfield;
                    }
                }

                .form_btn{
                    @include blackButton;
                    width: 200px;
                }
            }
        }

        @media screen and (max-width: 1025px) {
            .form_left{
                width: 40%;

                img{
                    width: 300px;
                }
            }

            .form_right{
                width: 50%;

                h2{
                    font-size: 2rem;
                }

                p{
                    font-size: 0.8rem;
                }

                .form_control{
                    .form_input{
                        label{
                            font-size: 1rem;
                        }

                        input{
                            font-size: 1rem;
                        }
                    }

                    .form_btn{
                        font-size: 0.8rem;
                    }
                }
            }
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .form_left{
                width: 100%;
                margin-bottom: 20px;

                img{
                    width: 100%;
                }

                h2{
                    font-size: 1.5rem;
                    width: 100%;
                    text-align: center;
                }

                .form_l_btn{
                    font-size: 0.8rem;
                    padding: 10px 20px;
                }
            }

            .form_right{
                width: 100%;

                h2{
                    font-size: 1.5rem;
                }

                p{
                    font-size: 0.8rem;
                }

                .form_control{
                    .form_input{
                        label{
                            font-size: 0.8rem;
                        }

                        input{
                            font-size: 0.8rem;
                        }
                    }

                    .form_btn{
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }

    .s_form_student{
        animation: animate2 1s ease-in-out;
        animation-fill-mode: forwards;
        opacity: 0;

        @keyframes animate2{
            0%{
                opacity: 0;
                transform: translateX(100px);
            }
            100%{
                opacity: 1;
                transform: translateX(0px);
            }
        }
    }

    .s_form_inst{
        animation: animate 1s ease-in-out;
        animation-fill-mode: forwards;
        opacity: 0;

        @keyframes animate{
            0%{
                opacity: 0;
                transform: translateX(-100px);
            }
            100%{
                opacity: 1;
                transform: translateX(0px);
            }
        }
    }
}